<!DOCTYPE html>
<html lang="en">

<head>

    <% if(helmet){ %>
        <%-helmet.title.toString()%>
        <%-helmet.meta.toString()%>
        <%-helmet.link.toString()%>
        <%-helmet.script.toString()%>
    <% } else{ %>  
        <title>Online Doctor Consultation | Ask a Doctor for Assistance | docprime</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="mobile-web-app-capable" content="yes">
        <% if(show_sbi_theme){ %>
          <meta name="theme-color" content='#178ddd'>
        <% } else{ %>  
          <meta name="theme-color" content='#ec720e'>
        <% } %>          
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1, user-scalable=no">
        <meta name="description" content="Chat with doctors online or book appointment online instantly with best doctors, hospitals & clinics nearby you. Get diagnostic lab assistance and more.">
    <% } %>

    <!-- <meta name="google-site-verification" content="quBX02ihk16wK40RcrNrDlgdq-joSP0hKjaCVgFuYC8" /> -->
    <meta name="robots" content="noindex">
    <link rel="icon" href="/assets/fav.png" type="image/png" sizes="16x16">
    <link rel="manifest" href="/assets/manifest.json">

    <!-- Preconnect >
    <link rel="preconnect" href="https://dis.as.criteo.com">
    <link rel="preconnect" href="https://gum.criteo.com">
    <link rel="preconnect" href="https://sslwidget.criteo.com"-->


    <% for(var i=0; i<split_bundles.length; i++) {%>
        <script defer src="<%-split_bundles[i].publicPath%>"></script>
    <% } %>

    <script defer src="<%-index_bundle%>"></script>

    <style>/* vietnamese */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
          font-weight: 300;
          font-display: swap;
        
          src: local('Quicksand Light'), local('Quicksand-Light'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_pgHYYQML_FYzokA9q.woff2) format('woff2');
          unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
        }
        /* latin-ext */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
          font-weight: 300;
          font-display: swap;
        
          src: local('Quicksand Light'), local('Quicksand-Light'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_pgHYYQcL_FYzokA9q.woff2) format('woff2');
          unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
        
          font-display: swap;
          font-weight: 300;
          src: local('Quicksand Light'), local('Quicksand-Light'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_pgHYYT8L_FYzokA.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* vietnamese */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
        
          font-display: swap;
          font-weight: 400;
          src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hJFQNYuDyP7bh.woff2) format('woff2');
          unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
        }
        /* latin-ext */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
        
          font-display: swap;
          font-weight: 400;
          src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hJVQNYuDyP7bh.woff2) format('woff2');
          unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
        
          font-display: swap;
          font-weight: 400;
          src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* vietnamese */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
        
          font-display: swap;
          font-weight: 500;
          src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_p2HcYQML_FYzokA9q.woff2) format('woff2');
          unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
        }
        /* latin-ext */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
        
          font-display: swap;
          font-weight: 500;
          src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_p2HcYQcL_FYzokA9q.woff2) format('woff2');
          unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
        
          font-display: swap;
          font-weight: 500;
          src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_p2HcYT8L_FYzokA.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* vietnamese */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
        
          font-display: swap;
          font-weight: 700;
          src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_pkHEYQML_FYzokA9q.woff2) format('woff2');
          unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
        }
        /* latin-ext */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
        
          font-display: swap;
          font-weight: 700;
          src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_pkHEYQcL_FYzokA9q.woff2) format('woff2');
          unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
          font-family: 'Quicksand';
          font-style: normal;
        
          font-display: swap;
          font-weight: 700;
          src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_pkHEYT8L_FYzokA.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }</style>
    

    <style><%-bootstrap_file%></style>
    <style><%-css_file%></style>

    <% if(show_sbi_theme){ %>

      <style type="text/css">
        body{
          --background--main--dark: #178ddd;
          --text--primary--color: #000000;
          --gradient--dull--color: #000000;
          --text--primary--hover: #3593D2;
          --text--dark--all: #2f2a6b;
          --chat--light--color: #cdebff;
          --dark--text--color: #3593D2;
          --dark--gradient--color: #65C5EB;
        }
      </style>
    <% } else { %>
         <style type="text/css">
          body{
            --background--main--dark: #e46608;
            --text--primary--color:#f78631;
            --gradient--dull--color:#ff6d00;
            --text--primary--hover:#f78631;
            --text--dark--all:#f78631;
            --chat--light--color:#f3e9e0;
            --dark--text--color: #ffffff;
            --dark--gradient--color: #ffffff;
          }
         </style>

    <% }  %>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MTZQXXV');</script>
    <!-- End Google Tag Manager -->

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTZQXXV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="root"><%-html%></div>
    <div id="map" style={{ display: 'none' }}></div>
  
    <script type="text/javascript">window.__INITIAL_STATE__ = <%-storeData%></script>
    
    <script type="text/javascript">
        window.VISITOR_INFO = {}
        window.LANDING_PATHNAME = window.location.pathname
        window.ON_LANDING_PAGE = true
        window.SENT_BOOT_UP_DATA = false
    </script>

    <!-- Criteo Add Tracking -->
    <!--script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" defer></script-->
    <!--End Criteo Add Tracking -->

    <!---- Browsee Scrirpt 
      <script>
        window._browsee = window._browsee || function () { (_browsee.q = _browsee.q || []).push(arguments) };
        _browsee('init', '86a797504486cd80b2d1441d5742f3c456a872306ec9e467');
      </script>
      <script async src='https://cdn.browsee.io/js/browsee.min.js' defer></script>
     Browsee Scrirpt -->

</body>

</html>
