<!DOCTYPE html>
<html lang="en">

<head>

    <% if(helmet){ %>
        <%-helmet.title.toString()%>
        <%-helmet.meta.toString()%>
        <%-helmet.link.toString()%>
    <% } else{ %>  
        <title>Online Doctor Consultation | Ask a Doctor for Assistance | DocPrime</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#ec720e">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1, user-scalable=no">
        <meta name="description" content="Chat with doctors online or book appointment online instantly with best doctors, hospitals & clinics nearby you. Get diagnostic lab assistance and more.">
    <% } %>

    <link rel="icon" href="/assets/fab.png" type="image/png" sizes="16x16">
    <link rel="manifest" href="/assets/manifest.json">

    <!-- css -->
    <link href="<%-ASSETS_BASE_URL%>/css/bootstrap-grid.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MTZQXXV');</script>
    <!-- End Google Tag Manager -->

    <!-- custom css-->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTZQXXV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="root"><%-html%></div>

    <script type="text/javascript">window.__INITIAL_STATE__ = <%-storeData%></script>
    <script async type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-pgh4txgxAWWUy0480Ezo-UKiZP-kP4o&libraries=places,geometry"></script>

    <script type="text/javascript">
        var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
        var msie = navigator.userAgent.indexOf("MSIE ");
        if(isSafari || msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)){
            console.log("PUSH NOTIFICATIONS NOT SUPPORTED ON SAFARI")
        }
        else {
            // DOM: Create the script element
            var jsElm = document.createElement("script");
            // set the type attribute
            jsElm.type = "application/javascript";
            // make the script element load file
            jsElm.src = 'https://www.gstatic.com/firebasejs/5.0.1/firebase.js';
            // finally insert the element to the body element in order to load the script
            document.body.appendChild(jsElm);
        }
    </script>
</body>

</html>